*~
app/models/image.rb
config/database.yml
config/local.rb
config/mongrel_cluster.yml
config/noosfero.yml
config/plugins
config/session.secret
config/thin.yml
db/development.db
db/production.db
db/test.db
debian/*.debhelper
debian/files
debian/*.log
debian/noosfero/
debian/noosfero-apache/
debian/*.substvars
doc/api
doc/noosfero/plugins
doc/noosfero/*/*.xhtml
doc/noosfero/*.xhtml
Gemfile.lock
.gitignore
index
locale
log
pkg
public/articles
public/designs/icons/default
public/designs/themes/*
public/designs/themes/default
public/image_uploads
public/javascripts/cache*
public/plugins
public/stylesheets/cache*
public/thumbnails
public/user_themes
.rbenv-*
*.swp
tags
tmp
vendor/rails

